@using Dominio
@model List<Dominio.Cliente>

<h1>Clientes </h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>CI</th>
            <th>Nacionalidad</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Extra</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Ci</td>
                <td>@cliente.Nacionalidad</td>
                <td>@cliente.Correo</td>
                <td>@cliente.GetType().Name</td>
                @if (cliente is Ocacional o)
                {
                    <td>@o.Regalos</td>
                    <td>
                    
                        <form asp-action="EditarCliente" method="post">
                            <input type="hidden" name="ci" value="@cliente.Ci" />
                            <button type="submit">Editar</button>
                        </form>
                    </td>
                 
                } @if (cliente is Premium p)
                {
                    <td>@p.Punto</td>
                    <td>
                        <form asp-action="EditarCliente" method="post">
                            <input type="hidden" name="ci" value="@cliente.Ci" />
                            <input type="number" name="nuevoPunto" value="" min="1" />
                            <button type="submit">Editar</button>
                        </form>
                    </td>
                    
                }

                
                

            </tr>
        }
    </tbody>
</table>
