@using Dominio
<h1>Pasajes </h1>

<p>@ViewBag.Mensaje</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Vuelo</th>
            <th>Ruta</th>
            <th>Fecha</th>
            <th>Tipo de Equipaje</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pasaje p in ViewBag.Pasaje)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Cliente.Correo</td>
                <td>@p.Vuelo.NumeroVuelo</td>
                <td>@p.Vuelo.Ruta</td>
                <td>@p.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@p.TipoEquipaje</td>
                <td>$@p.Precio</td>
            </tr>
        }
    </tbody>
</table>
